/* import font */
@font-face {
    font-family: "SyneExtra";
    src: url(./fonts/Syne-ExtraBold.woff) format(woff);
    font-weight: bold;
    font-style: normal;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root {
    font-family: "SyneExtra";
    font-size: 62.5%;
    --color-white: white;
    --color-black: black;
    --off-white: rgba(255, 255, 255, 0.5);
}

/* header styling */
header {
    height: 85vh;
    background: var(--color-black);
}

/* header navigation */
nav {
    height: 10vh;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

nav ul {
    width: 40%;
    display: flex;
    justify-content: space-around;
}

nav ul a {
    color: var(--color-white);
    font-size: 2rem;
    text-transform: uppercase;
    padding: 5px 10px;
}

nav ul a:hover {
    background: rgb(245, 255, 0);
}


/* header banner */
.banner {
    height: 75vh;
    display: grid;
    grid-template-columns: 10% 1fr 2fr 15%;
    grid-template-rows: repeat(2, 1.5fr) 2fr;
}

.banner div:first-child {
    grid-area: 1 / 2 / 2 / 4;
    color: var(--color-white);
    font-size: 5rem;
}

.banner p {
    grid-area: 2 / 3 / 3 / 4;
    color: var(--color-white);
    font-size: 3rem;
    padding-top: 30px;
}

/* header banner circle */
.circle {
    grid-area: 2 / 2 / 4 / 3;
    align-self: center;
    justify-self: center;
    width: 160px;
    height: 160px;
    background: var(--color-white);
    border-radius: 50%;
    position: relative;
}

.circle p {
    position: absolute;
    color: var(--color-black);
    text-transform: uppercase;
    font-size: 4rem;
    letter-spacing: 3px;
}

.circle span {
    color: var(--color-white);
}

.circle p:nth-of-type(1) {
    top: 15px;
    left: 69px;
}

.circle p:nth-of-type(2) {
    top: 44px;
    left: 72px;
    font-size: 4.9rem;
}

.circle:hover {
    background: rgb(245, 255, 0);
}

.circle:hover p {
    color: black;
}

/* main */
.container {
    padding: 0 20px;
}

/* work section */
.work {
    height: 750px;
    padding: 15vh 30px 0 30px;
    margin-bottom: 50px;
    border-radius: 5px;
    background: var(--color-white);
    text-align: center;
}

.work-container {
    display: flex;
    gap: 20px;
    margin-bottom: 40px;
}

.work-item {
    width: 33.33%;
    border-radius: 5px;
}

.work-img {
    width: 100%;
    height: 420px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.work a {
    color: var(--color-black);
    text-transform: uppercase;
    text-decoration: underline;
    font-size: 1.7rem;
}

.work a:hover {
    color: rgb(245, 255, 0);
}

/* work images */
.img01 {
    background-image: url("https://www.frontendpractice.com/static/06c7bdbd14258be251139f3b6e2c87f6/9c361/909d6de4-6d1c-4609-8442-afad44b6495b_Market%2BStreet%2BCanal.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}

.img02 {
    background-image: url("https://www.frontendpractice.com/static/555bff2379d114cf5ee6994467954f1c/9c361/8bc02cef-ba8f-4c10-9369-8d6b9b804cce_Red%2BSquare%2BAgency.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}

.img03 {
    background-image: url("https://www.frontendpractice.com/static/24a51c6173c67847a3c3f4ae499e947d/9c361/88426856-f72e-4080-92ba-4d67d7a3263a_Backstage%2BTalks.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}


/* Hover effect - colorChange */

body:hover {
    animation: colorChange 1s linear forwards;
}

@keyframes colorChange {
    100% {
        --color-white: black;
        --color-black: white;
    }

}


/* About section */

.about {
    height: 550px;
    padding: 0 30px;
    background-image: url("../assets/pexels-nothing-ahead-6924270.jpg");
    background-size: 350%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5px;
}

.about div {
    width: 70%;
    padding: 50px 30px;
}

.about pre {
    color: white;
    font-size: 2.5rem;
    margin: 15px;
}

/* FOOTER styling */
footer {
    width: 80%;
    height: 400px;
    margin: 100px 0 0 20%;
    background: black;
    border-top-left-radius: 5px;
    color: white;
    letter-spacing: 2px;
    font-size: 1.8rem;
    position: relative;
}

footer span {
    color: var(--off-white);
    text-transform: uppercase;
}

.contact {
    padding: 80px 70px;
}

.contact div {
    margin-bottom: 30px;
}

footer i {
    color: white;
    margin-left: 5px;
}

footer>div:last-child {
    position: absolute;
    right: 30px;
    bottom: 30px;
    color: var(--off-white);
}

.contact div:hover {
    color: rgb(245, 255, 0);
}

footer i:hover {
    color: rgb(245, 255, 0);
}

/* Media queries */
@media screen and (max-width: 891px) {

    /* header banner circle */
    .circle {
        width: 100px;
        height: 100px;
    }

    .circle p {
        font-size: 2rem;
    }

    .circle p:nth-of-type(1) {
        top: 5px;
        left: 52px;
    }

    .circle p:nth-of-type(2) {
        top: 20px;
        left: 52px;
        font-size: 2.5rem;
    }

    /* work section */
    .work {
        height: fit-content;
        padding: 15vh 0 50px 0;
    }

    .work-container {
        flex-direction: column;
        gap: 70px;
    }

    .work-item {
        width: 70%;
        margin: 0 auto;
    }

    .work-img {
        height: 550px;
    }

    /* About Section */
    .about pre {
        font-size: 2.2rem;
        margin: 15px;
    }
}

@media screen and (max-width: 769px) {

    /* header styling */
    nav {
        height: 12vh;
    }

    nav ul {
        flex-direction: column;
        align-items: flex-end;
        padding-right: 30px;
    }

    nav ul li {
        padding-bottom: 3px;
    }

    .banner {
        height: 73vh;
    }

    .banner div:first-child {
        font-size: 3.5rem;
    }

    .banner p {
        font-size: 2rem;
    }

    /* About section */

    .about {
        height: 450px;
        padding: 0;
    }

    .about div {
        width: 100%;
        padding: 50px 10px;
    }

    .about pre {
        font-size: 1.5rem;
    }

    footer {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 459px) {
    .circle {
        display: none;
    }

    /* work section */
    .work-container {
        gap: 50px;
    }

    .work-item {
        width: 90%;
    }

    .work-img {
        height: 350px;
    }

    /* About section */

    .about {
        height: 350px;
    }

    .about div {
        padding: 50px 7px;
    }

    .about pre {
        font-size: 1.2rem;
    }

    footer {
        font-size: 1.2rem;
    }
}